{{ if .Site.Params.trainings.enable | default false }}
{{- $trainings := .Site.Language.Params.trainings | default .Site.Params.trainings -}}
<section id="trainings" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ $trainings.title | default .Site.Params.trainings.title | default "Professional Training" }}</h3>
        <div class="row justify-content-center py-5">
            {{ range $index, $element := $trainings.items | default .Site.Params.trainings.items }}
            <div class="col-12 p-0">
                <div class="row row align-items-center justify-content-center m-1 mb-4">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="float-end">
                                    <small>{{ .date }}</small>
                                </div>
                                <h5 class="card-title">{{ .title }}</h5>
                                
                                {{ if .school.url }}
                                <a href="{{ .school.url }}" target="_blank">
                                    <h6>{{ .school.name }}</h6>
                                </a>
                                {{ else }}
                                <h6>{{ .school.name }}</h6>
                                {{ end }}

                                {{ if .content }}
                                <div class="py-1 education-content">
                                    {{ .content | markdownify}}
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
